BODY, FORM {
        font-family: arial,sans-serif; font-size: 10pt; font-weight: normal;
}
DIV, SPAN, FORM { 
	font-family: arial,sans-serif; font-size: 10pt; font-weight: normal;
	margin: 0px; padding: 0px;
	text-align: center,left,right;
}
DIV.header {
	text-align: center;
	font-size: 13pt;
	font-weight: bold;
	background-color: #003399;
	color: white;
}
TABLE {
	font-family: arial,sans-serif; font-size: 10pt; 
	border-collapse: collapse;
}
CAPTION {
	font-weight: bold;
}
THEAD {
	font-family: arial,sans-serif; font-size: 10pt; font-weight: bold; 
	text-align: center; 
	background-color: #cccccc;
}
TABLE.time_table {
	table-layout: fixed;
	border: 1px solid black;
}
TABLE.time_table TD {
	font-size: 9px;
	border: 1px solid black;
}

TABLE.cell TD{
	height: 100%;
	border-style: none;
}
TABLE.cell TD.stroke{
	border-left: 1px dashed black;
}

a.button_close {
          margin: 10px 0 10px 0;
          color: #fff;
          font-size: 18px;
          text-decoration: none;
          background: rgb(212,75,56);
          padding: .7em 1.5em;
          outline: none;
        }

a.button_close:hover { background: rgb(232,95,76); }
a.button_close:active { background: rgb(152,15,0); }

@media print {
.noPrint {
    display:none;
  }
}
